* {
    margin: 0px;
    padding: 0px;
}
body, html { 
    /*overflow:hidden; */
    background: #000 url('../art/stuz_bg.png');
    font-family: Tahoma, Sans-serif, Helvetica;
} 

#cr-stage {
   margin: 0 auto; 
    position: relative;
    width: 1024px;
    height: 768px;
}

#loading {
    margin-top: 150px;
    color: white;
    font-size: 16pt;
    text-align: center;
}

#msgs {
    position: absolute;
    left: 40%;
    top: 45%;
    text-align: center;
    z-index: 2;
}

div.text {
    position: absolute;
    line-height: 24px;
    font-size: 16px;
    color: white;
    padding: 5px;
    text-shadow: 1px 1px black;
}